.nav-items{
    color:rgb(45, 28, 9) ;
    text-decoration: none;
    margin: 0px 30px;
    font-size: 20px;
}
nav{
    background-color: rgba(149, 91, 249, 0.096);
    margin-top: 30px;
        padding: 15px;
}